<launch>
    <include file="$(find easondrone_gazebo)/launch/mavros_posix_sitl.launch"/>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <include file="$(find px4ctrl)/launch/px4ctrl.launch"/>

    <node name="pub_pcl_world" pkg="easondrone_mapping" type="pub_pcl_world.py"/>

    <!-- 启动导航 -->
    <include file="$(find ego_planner)/launch/simple_run.launch"/>

    <!-- 启动rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ego_planner)/config/default.rviz"/>
</launch>
