<launch>
    <include file="$(find easondrone_gazebo)/launch/spawn_iris.launch">
        <arg name="world" default="$(find aws_robomaker_bookstore_world)/worlds/bookstore.world"/>
        <arg name="sdf" default="$(find easondrone_gazebo)/models/drone/iris_d435i_mid360/iris_d435i_mid360.sdf"/>
    </include>

    <include file="$(find px4ctrl)/launch/px4ctrl.launch"/>

    <include file="$(find ego_planner)/launch/simple_run.launch"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ego_planner)/config/default.rviz"/>
</launch>
